@import "tailwindcss";

@layer base {
  :root {
    --white-1: #F3F4FC;
    --orange-1: #FF6424;
    --black-3: #373840;
    --black-4: #4C4D56;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background-color: var(--white-1);
    font-family: "Poppins", sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  h1 {
    font-size: 64px;
    font-weight: 900;
  }

  h4 {
    font-size: 22px;
    font-weight: bold;
  }

  h3 {
    font-size: 32px;
    font-weight: bold;
    line-height: 40px;
  }
}

@layer utilities {
  .navigation-regular {
    font-size: 20px;
  }

  .link-animado {
    transition: all 0.3s ease-in-out;
  }

  .link-animado:hover {
    color: var(--orange-1);
    transform: scale-105;
  }

  .color-black-4 {
    color: var(--black-4)
  }

  .a-bold {
    font-size: 18px;
    font-weight: bold;
  }

  .btn-fade {
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }

  .btn-fade:hover {
    opacity: 1;
  }

  
  @keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

.animate-marquee {
    animation: marquee 18s linear infinite;
}
}